
<!DOCTYPE html>
<html lang="en">
<!-- container-fluid -->
<head>

    <title>MangoLau Admin</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/unicorn.main.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/unicorn.grey.css" class="skin-color" />


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>


<div id="header">
    <h1><a href="{:U('Index/index')}">MangoLau Admin</a></h1>
</div>

<!--<div id="search">
    <input type="text" placeholder="Search here..." /><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
</div>-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav btn-group">
        <li class="btn btn-inverse"><a title="" target="_main" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
        <li class="btn btn-inverse"><a title="" target="_top" href="{:U('Public/logout')}"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
    </ul>
</div>


<div id="sidebar">
    <a href="{:U('Index/index')}" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
    <ul>
        <!--<li class="active"><a href="{:U('Index/index')}"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>-->
        <li class="submenu">
            <a href="#"><i class="icon icon-th-list"></i> <span>节点管理</span> <span class="label">2</span></a>
            <ul>
                <li><a href="{:U('Node/index')}" target="_main">节点列表</a></li>
                <li><a href="{:U('Node/addNode')}" target="_main">添加应用节点</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><i class="icon icon-th-list"></i> <span>角色管理</span> <span class="label">2</span></a>
            <ul>
                <li><a href="{:U('Role/index')}" target="_main">角色列表</a></li>
                <li><a href="{:U('Role/addRole')}" target="_main">角色添加</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><i class="icon icon-th-list"></i> <span>用户管理</span> <span class="label">2</span></a>
            <ul>
                <li><a href="{:U('User/index')}" target="_main">用户列表</a></li>
                <li><a href="{:U('User/addUser')}" target="_main">用户添加</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><i class="icon icon-th-list"></i> <span>文章类别</span> <span class="label">2</span></a>
            <ul>
                <li><a href="{:U('Category/index')}" target="_main">文章类别列表</a></li>
                <li><a href="{:U('Category/addCategory')}" target="_main">文章类别添加</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><i class="icon icon-th-list"></i> <span>文章</span> <span class="label">2</span></a>
            <ul>
                <li><a href="{:U('Content/index')}" target="_main">文章列表</a></li>
                <li><a href="{:U('Content/addContent')}" target="_main">文章添加</a></li>
            </ul>
        </li>
    </ul>

</div>

<div id="i-content">
    <iframe name="_main" style="min-width: 960px;width: 100%;height: 800px;"></iframe>
</div>




<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Admin/js/unicorn.js"></script>


</body>
</html>
