<extend name="Public:default" />
<block name="container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-th"></i>
                        </span>
                        <h5>文章列表</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>文章</th>
                                <th>状态</th>
                                <th>创建时间</th>
                                <th>修改时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="list" id="vo">
                                <tr>
                                    <td>{$vo.id}</td>
                                    <td><a href="javascript:void(0);" class="catName" title="{$vo.title}">{$vo.title}</a></td>
                                    <td><span class="catName">{$vo.status}</span></td>
                                    <td><span class="catName">{$vo.created}</span></td>
                                    <td><span class="catName">{$vo.modified}</span></td>
                                    <td>
                                        <a title="修改" href="{:U('altContent', array('aid' => $vo['id']))}"><i class="icon-pencil"></i></a>
                                        <a href="{:U('deleteUser', array('id' => $v['id']))}" title="删除" onclick="if(!confirm('确定删除《{$vo[\'title\']}》？')){return false;}"><i class="icon-trash"></i></a></td>
                                </tr>
                            </volist>
                            <tr><td colspan="6">{$page}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script type="application/javascript">
        $(function () {
            //修改
            $('.alter').click(function(){
                var aid = $(this).attr('actid');
                $('.content').load("{:U('Content/altContent')}", {aid:aid});
            });


            //删除
            $('.del').click(function(){
                var _id = $(this).attr('actid'),_title = $(this).attr('title');
                $('.pop-wrap span').html(_title);
                $('.pop-wrap').show();
                $('.pop-wrap .sure').click(function(){
                    $.ajax({
                        type: "POST",
                        url: "{:U('Content/delContent')}",
                        data: {id:_id},
                        success: function(result){
                            if(result.success){
                                alert('删除成功！');
                                $('#main .content').load("{:U('Content/index')}");
                            } else {
                                alert(result.msg);
                            }
                        }
                    });
                });
                $('.pop-wrap .cancel').click(function(){
                    $('.pop-wrap').hide();
                });
            });
        });
    </script>
</block>
